* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    border: none;
}

html {
    font-size: 100%;
}

body {
    padding: 5rem;
    font-size: 100%;
}

a {
    text-decoration: none;
}

.wrap {
    width: 84.75rem;
    height: 43.9375rem;
    overflow: hidden;
    padding: 2.75rem 2.4375rem;
    background: #FFF;
    justify-content: center;
    align-items: center;
    border: 0.0625rem solid #eee;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.87rem;
    margin-top: 2.38rem;
    /* 카드 간 간격 */
}

.card-single {
    display: grid;
    gap: 0.81rem;
}


li img {
    width: 18.5625rem;
    height: 25rem;
}

.contents {
    /* border: 0.0625rem solid seagreen; */
}

.self {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 0.38rem;

    p {
        /* border: 0.0625rem solid rgb(84, 188, 129); */
    }

    p.title {
        color: #000;
        font-family: "Noto Sans KR";
        font-size: 0.9375rem;
        line-height: 1.375rem;
        font-weight: 400;
        justify-self: stretch;
        align-self: stretch;
    }

    p.difficulty {
        display: flex;
        align-items: center;
        padding-top: 0.28rem;
        padding-bottom: 0.09rem;
        align-self: stretch;
        /* background-color: rgb(83, 149, 149, 0.3); */
    }

    .difficulty-text {
        display: flex;
        align-items: center;
        color: #000;
        font-family: "Noto Sans KR";
        font-size: 0.8125rem;
        height: 1rem;
        font-weight: 400;
    }

    .stars {
        display: inline-block;
        width: 4.6875rem;
        height: 0.9375rem;
        /* 실제 별 이미지 높이 */
        margin-left: 0.62rem;
        /* background: url(../images/like_3.svg) no-repeat; */
        background-size: contain;
        align-self: center;
        /* flex 컨테이너 내에서 중앙 정렬 */
        position: relative;
        bottom: 0.09rem;
        /* bottom: 0.03125rem; */
        /* (1rem - 0.9375rem) / 2 = 0.03125rem, 미세 조정 */
    }

    .stars1 {
        background: url(../images/like_3.svg) no-repeat;
    }

    .stars2 {
        background: url(../images/like_2.svg) no-repeat;
    }

    .stars3 {
        background: url(../images/like_4.svg) no-repeat;
    }

    .stars4 {
        background: url(../images/like_5.svg) no-repeat;
    }

    p.review {
        color: #000;
        font-family: "Noto Sans KR";
        font-size: 0.8125rem;
        line-height: 1.375rem;
        font-weight: 400;
        justify-self: stretch;
        align-self: stretch;
    }

    p.price {
        color: #000;
        font-family: "Noto Sans KR";
        font-size: 0.8125rem;
        line-height: 1.375rem;
        font-weight: 400;
        justify-self: stretch;
        align-self: stretch;
    }
}