/* 우선순위 */
/* 0점, 우선순위: 가장낮다, 에스터리스크, 전체선택자 */
* {
    color: red;
}

/* 1점 */
div {
    color: blue;
}

/* 10점: 클래스 선택자 */
.specificity {
    color: green;
}

/*100점: 아이디 선택자 */
#selector {
    color: orange;
}

/* 1000점 : 인라인스타일 */
/* 절대점수: !important */
* {
    color: firebrick !important;
}

* {
    color: rgb(6, 23, 173) !important;
    color: blueviolet !important;
}