* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    border: none;
}

body {
    padding: 5rem;
}

a {
    color: inherit;
}

h2 {
    font-size: 1rem;
    margin-bottom: 3rem;
}

:root {
    --gray100: #D1D6DB;
    --gray200: #E5E8EB;
    --gray400: #8B95A1;
    --gray600: #333333;
    --white: #fff;
    --black: #000;

    /*line*/
    --lineType: var(--gray100);
    --btnLine: var(--gray200);

    /*bg*/
    --bgWhite: var(--white);

    /*text*/
    --textMenu: var(--gray400);
    --textTab: var(--gray600);
    --textSelf: var(--gray400);
}

.wrap {
    width: 72.5625rem;
    overflow: hidden;
    padding: 1.25rem;
    border: 0.0625rem dotted var(--gray200);
}

nav.menu-type1 {
    border-bottom: 0.0625rem solid var(--lineType);
    background: var(--bgWhite);

    ul {
        display: flex;
        align-items: center;

        li {
            color: var(--gray400);
            font-family: "Noto Sans KR";
            font-size: 1rem;
            font-weight: 500;
            padding-bottom: 0.75rem;
            padding-right: 2.19rem;
            /* background: lime; */
        }
    }
}

.filter-area {
    padding: 0.75rem 0;

    button {
        padding: 0.625rem 0.9375rem;
        border-radius: 2.5rem;
        border: 1px solid var(--btnLine);
        color: var(--textTab);
        font-family: "Noto Sans KR";
        font-size: 0.75rem;
        font-weight: 400;
        background: var(--bgWhite);
    }
}

.result-area {
    width: 69.875rem;
    height: 31.25rem;
    padding: 0.625rem;
    background: var(--bgWhite);
    border: 0.0625rem solid var(--gray200);
    display: flex;
    justify-content: center;
    align-items: center;

    .result-group {
        background: var(--bgWhite);
        color: var(--textSelf);
        font-family: "Noto Sans KR";
        font-size: 0.875rem;
        font-weight: 400;
        text-align: center;
    }
}

img {
    width: 1.62506rem;
    height: 1.62481rem;
    background-color: aqua;
    margin-bottom: 0.62rem;
}