body {
    padding: 5rem;
}

a {
    color: inherit;
}

.wrap {
    justify-content: start;
    width: 60.25rem;
    padding: 2.0625rem 2rem 1.9375rem 2rem;
    border: 0.0625rem dotted var(--lineColor1);
    padding: 2.06rem 2rem 1.94rem 2rem;
}

table.table-type1 {
    border-collapse: collapse;
    border-spacing: 0;
    width: 56.25rem;
    border: none;
}

thead.title-area {
    border-top: 0.125rem solid var(--lineColor1);
    width: 56.25rem;
    background-color: var(--bgColor1);
}

tr {
    border-bottom: 0.0625rem solid var(--lineColor3);
}

tr th {
    color: var(--textGray5);
    padding: 0.87rem 0.87rem;
}

th {
    width: 12.4375rem;
    border-bottom: 0.0625rem solid var(--grayColor1);
}

td {
    padding: 0.97rem 0.94rem;
    border-bottom: 0.0625rem solid var(--grayColor1);
    border-right: 0.0625rem solid var(--grayColor1);
}

tbody {
    td:last-child {
        border-right: none;
    }
}

h3.table-title {
    margin-bottom: 1.06rem;
}