* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    border: none;
}

/* 변수정의 */
:root {
    --gray100: #E5E8EB;
    --gray200: #D1D6DB;
    --gray300: #8B95A1;
    --gray400: #333333;
}