/*표13번-css적용하기*/

h2 {
    margin-bottom: 2rem;
}

nav {
    display: flex;
    align-items: center;

    h3 {
        color: var(--black);
        font-size: 2.5rem;
        padding-right: 78.06rem;
    }

    p {
        color: var(--gray50);
        font-size: 1rem;
    }
}

.table-type1 {
    margin-top: 2.19rem;
    text-align: center;

    thead {
        border-top: 0.125rem solid var(--borderColor2);
        border-bottom: 0.0625rem solid var(--borderColor1);
        background: var(--bgWhite);

        th {
            height: 6.4375rem;
            padding: 2.41rem 0;
        }
    }

    tbody {
        tr {
            border-bottom: 0.0625rem solid var(--borderColor1);
        }

        tr.last-text td {
            color: var(--grayText2);
            font-weight: 700;
        }

        th {
            padding: 0rem 0.9375rem;
            width: 17.8125rem;
            color: var(--grayText2);
            font-size: 1.125rem;
            font-weight: 700;
        }

        td {
            padding: 2.41rem 0;
            color: var(--grayText1);
            font-family: "Noto Sans KR";
            font-size: 1.125rem;
            font-weight: 400;
            text-align: center;
            border-left: 0.0625rem solid var(--borderColor1);
        }
    }

    .row-last {
        color: var(--grayText2);
        font-family: "Noto Sans KR";
        font-size: 1.125rem;
        font-weight: 700;
    }

    .text-right {
        text-align: right;
        padding: 0rem 0.9375rem;
        color: var(--grayText1);
    }

}