/*표6번*/

table.table-type1 {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    text-align: center;
}

thead th {
    padding: 0.78rem 0.78rem;
    background-color: var(--grayColor1);
    color: var(--textColor1);
    font-family: "Noto Sans KR";
    font-size: 0.875rem;
    font-weight: 400;
    border-top: 0.125rem solid var(--lineColor1);
    border-bottom: 0.0625rem solid var(--lineColor2);
    border-right: 0.0625rem solid var(--lineColor0);
}

tbody tr th {
    color: var(--textColor1);
    font-family: "Noto Sans KR";
    font-size: 0.875rem;
    font-weight: 700;
    border-right: 0.0625rem solid var(--lineColor0);
}

tbody tr td {
    color: var(--textColor1);
    font-family: "Noto Sans KR";
    font-size: 0.875rem;
    font-weight: 400;
}

tr {
    border-bottom: 0.0625rem solid var(--lineColor0);
    border-right: none;
    color: var(--textColor3);
    font-family: "Noto Sans KR";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

td {
    padding: 1rem 1rem;
    border-right: 0.0625rem solid var(--lineColor0);

    color: var(--textColor3);
    font-family: "Noto Sans KR";
    font-size: 0.875rem;
    font-weight: 400;
}

td.last {
    color: var(--textColor3);
    font-family: "Noto Sans KR";
    font-size: 0.875rem;
    font-weight: 400;
    color: red;
}

nav {
    display: flex;
    justify-content: start;
    align-items: end;
}

.year {
    width: 100%;
    margin-bottom: 0.625rem;
}

p.percent {
    margin-bottom: 0.87rem;
    text-align: right;
}

.all {
    width: 62.75rem;
    height: 28.875rem;
    overflow: hidden;
    background: var(--bgWhite1);
    padding: 2.69rem 3.25rem 2.56rem 3.25rem;
    border: 0.0625rem solid var(--lineColor1);
}