/*표 11번 */

.wrap {
    width: 78.75rem;
    overflow: hidden;
    padding: 2.3125rem 3.5625rem;
    border: 0.0625rem dotted var(--gray100);
}

/* table,
th,
td {
    border: 1px solid black;
} */

h3 {
    margin-bottom: 2.25rem;
}

tr.row-top {
    border-top: 0.0625rem solid var(--lineColor3);
    border-bottom: 0.0625rem solid var(--lineColor1);
}

tr.row-middle {
    border-bottom: 0.0625rem solid var(--lineColor1);
}

tr.row-bottom {
    border-bottom: 0.0625rem solid var(--lineColor3);
}

.content {
    width: 100%;
}

p.support {
    color: var(--textColor3);
    text-align: right;
    margin-top: 1.25rem;
}

.table-group {
    width: 100%;
    display: flex;
}

table {
    width: 100%;

    td {
        color: var(--textColor1);
        font-family: "Noto Sans KR";
        font-size: 0.9375rem;
        font-weight: 500;
        line-height: 1.75rem;
    }
}

table td,
table th {
    padding: 0.69rem 1.44rem;
}

th {
    text-align: left;
}

.table1 {
    margin-right: 2.81rem;
}

table tr {
    width: 34.375rem;
    padding: 0.69rem 1.44rem;
    align-items: center;
}

td.data {
    text-align: right;
    color: var(--textColor2);
    font-family: "Noto Sans KR";
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.75rem;
}