.wrap {
    width: 51.625rem;
    padding: 2.75rem 3.3125rem;
    border: 0.0625rem solid var(--black);
}

caption.title {
    color: var(--textBlack);
    font-family: "Noto Sans KR";
    font-size: 1.875rem;
    font-weight: 400;
    text-align: left;
    margin-bottom: 0.8125rem;
}

table {
    text-align: center;
}

.table-type1 {
    thead {
        tr {
            border-top: 0.125rem solid var(--lineColor1);
            border-bottom: 0.0625rem solid var(--lineColor2);
        }

        th {
            color: var(--textBlack);
            font-size: 1.1875rem;
            font-weight: 500;
            padding: 1.84rem 0;
        }
    }

    tbody {
        tr {
            td {
                border-bottom: 0.0625rem solid var(--lineColor2);
                padding: 1.81rem 0;
                text-align: center;
                color: var(--textBlack);
                font-family: "Noto Sans KR";
                font-size: 1.25rem;
                font-weight: 400;
            }

            td.blue {
                color: var(--textBlue);
                font-family: "Noto Sans KR";
                font-size: 1.25rem;
                font-weight: 400;
                text-align: center;
            }

            td.red {
                color: #EF4C49;
                font-family: "Noto Sans KR";
                font-size: 1.25rem;
                font-weight: 400;
                text-align: center;
            }

            td.data-wrap {
                display: flex;
                width: 6.2375rem;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

span.arr-down img,
span.arr-up img {
    padding-right: 0.3125rem;
}