:root {
    --grayColor1: #FBFCFD;
    --grayColor2: #D3D3D3;
    --grayColor3: #555555;
    --grayColor4: #45495B;
    --grayColor5: #111;
    --grayColor6: #F8FAFC;
    --black: #000;
    --blueColor: #0B4D93;
    --white: #fff;

    /*text*/
    --textColor111: var(--grayColor5);
    --textColor555: var(--grayColor3);
    --textColorfff: var(--white);
    --textColor000: var(--black);

    /*line*/
    --lineBlue: var(--blueColor);
    --lineGray: var(--grayColor2);

    /*bg*/
    --bgColor1: var(--grayColor6);
    --bgColor2: var(--grayColor1);
    --bgColor3: var(--grayColor4);
}